
#blockArea {
	width: 40%;
	height: 90%;
	position: relative;
	top: 2%;
	left: 30%;
	background-color: black;

	border-width: 10px;
	border-style: solid;
	border-color: white;
}

.block {
	position: absolute;
}

.tile {
	position: absolute;
	border: 5px solid gray;
	box-sizing: border-box;
	/* box-shadow: 5px 5px gray inset; */
}

#enemyStatus {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0.7;
}
