
#blockArea {
	width: 40%;
	height: 90%;
	position: relative;
	top: 2%;
	left: 30%;
	background-color: black;

	border-width: 10px;
	border-style: solid;
	border-color: white;
}

.block {
	position: absolute;
	-webkit-transition: 0.3s;
	-webkit-transform-style: preserve-3d;
}

.tile {
	position: absolute;
	border-style: solid; /* ridge; */
	/* border-color: lightgray dimgray dimgray lightgray; */
	border-color: rgba(255, 255, 255, 0.7) rgba(128, 128, 128, 0.7) rgba(128, 128, 128, 0.7) rgba(255, 255, 255, 0.7);
	box-sizing: border-box;
	background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(255, 255, 255, 0.5)));
	/* background: -webkit-gradient(radial, center center, 0, center center, 30, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1))); */
	/* -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7) inset; */
	-webkit-transition: 0.3s;
	-webkit-transform-style: preserve-3d;
}

.deleteAnim {
	opacity: 0;
	-webkit-transition: 1.0s;
}

#statusArea {
	width: 10%;

	opacity: 0.7;
	position: absolute;
	top: 2%;
	right: 2%;
}

#nextBlockIndicator {
	opacity: 0.7;
	background-color: black;
	border: 5px solid white;
	position: absolute;
	top: 2%;
	left: 2%;
}

#enemyStatus {
}
